@model IEnumerable<ProductsDistribution.Models.ViewModels.AnnouncementViewModel>

@if (Model != null)
{
    foreach (var item in Model)
    {
        <tr>
            <td>@item.arrive_date</td>
            <td>@item.title</td>
            <td>@item.publish_date</td>
            <td><a href="#"><i class="glyphicon glyphicon-eye-open"></i>View</a></td>
        </tr>

    }
}
